<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<link href="css/bootstrap-responsive.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/default.css" rel="stylesheet">
<link rel="shortcut icon" href="assets/images/favicon.ico">
<!-- =======================================================
    Theme Name: Maxim
    Theme URL: https://bootstrapmade.com/maxim-free-onepage-bootstrap-theme/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
======================================================= -->
<style >
  body{
    height: 100%;
   width: 100%;

     background-image: url("https://s-media-cache-ak0.pinimg.com/originals/f9/c4/4a/f9c44a9e748f379f2645665af44caff0.jpg");
     background-repeat: no-repeat;/*we want to have one single image not a repeated one*/
   background-size: cover;
  }
  h1{
    margin-top: 50px;
    margin-left: 50px;
    color: blue;
    text-shadow: inherit;
    text-decoration-style: solid;
    font-weight: 1000;
    font-size: 60px;
    font-family: "URW Chancery L";
  }
  h2,p{
      margin-left: 50px;
      margin-right: 50px;
    color: white;
    text-shadow: inherit;
    text-decoration-style: solid;
    font-weight: 700;
    font-size: 30px;
    font-family: "URW Chancery L";
  }
</style>
</head>
<body>
<!-- navbar -->
<div class="navbar-wrapper">

 <nav class="navbar navbar-inverse navbar-fixed-top">
 <div class="navbar-inner">
  <div class="container-fluid">
    <div class="navbar-header">
      <h1 class="brand"> <a  href="#">Quaerere</a> </h1>
    </div>
    <ul id="menu-main" class="nav navbar-nav navbar-right">
    <% if current_user && current_user.admin? %>
    <li><%= link_to "ADMIN",rails_admin_path %></li>
    <% end %>
    <li><a title="team" href="home">Home</a></li>
        <% if current_user!=nil %>
         <li><a title="team" href="leaderboard">Leaderboard</a></li>
         <% end %>
          <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Rules
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a>1. Write all answers in lowercase.</a></li>
          <li><a>2. Don't include space between two words.</a></li>
          <li><a>3. Try to link the question with the image and audio.</a></li>

        </ul>
      </li>

      <% if current_user!=nil %>
      <li><a>Score:<span id="myScore"><%= current_score %></span></a></li>
      <% if @question!=nil%>
      <li><a>Level:<span id="myLevel">
      
      <%= (current_score==0)?1:current_score/10+1 %>
        <%end%>
      </span></a></li>
      <li><%= image_tag(current_user.image_url, size: '50x50') %>&nbsp;&nbsp;</li>
      <li class="dropdown">

         <a  class="dropdown-toggle" data-toggle="dropdown" href="#"><%= current_user.name %> <span class="caret"></span></a>
       <ul class="dropdown-menu">

          <li><%= link_to "Sign out", 'sign_out', method: :delete , class: "nav-link"%></li>
        </ul>
      </li>
      <% else %>
      <li><a>Login ::</a></li>
      <li ><a href="auth/facebook"> <img border="0" alt="facebook" src="fb.jpg" class="img-circle"width="30" height="30"></a></li>
      <li ><a href="/auth/google_oauth2"> <img border="0" alt="Gmail" src="gmail.jpg" class="img-circle" width="30" height="30"></a></li>
      <% end %>
    </ul>
  </div>
  </div>
</nav>
</div>
<!-- Header area -->



</section>


<h1>ABOUT</h1>
<h2>Welcome to the treasure hunt!!!</h2>
<p>You need to solve the question to unlock the treasure.Since the motto of RECursion is to help people,we provide you the biggest help possible-"GOOGLE". So,guys exploit your searching abilities,wake up your grey cells and get the treasure.</p>
<p>PS: Plz read the rules.</p>
<p>For any queries,contact:: Richa Agarwal(+91-8016042603), Anjali Agrawal(+91-7063494551)</p>
</br>
</br>
<p><% if current_user %>
    <div class="text-center" style="font-family: Bitstream Charter">
    <a href="index" class="btn btn-success" role="button">Go to treasure hunt</a>
    </div>
    <%end %>
    </p>


</body>
</html>
