<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    /* Set black background color, white text and some padding */

    body{
       height: 100%;
   width: 100%;

      background-image: url("http://www.guoguiyan.com/data/out/144/69896840-papyrus-wallpapers.jpeg");
      overflow-x:hidden;
    overflow-y:hidden;
      background-size:100% 100%;
        background-repeat: no-repeat;/*we want to have one single image not a repeated one*/
   background-size: cover;
      padding-left: 40px;
      margin-top: 60px;
    }

    #answerForm{
          width: 5em;  height: 5em;
    }
    h2{
      font-family: "Bitstream Charter";
    }
  </style>
</head>
<body>

<!-- navbar -->
<div class="navbar-wrapper">

 <nav class="navbar navbar-inverse navbar-fixed-top">
 <div class="navbar-inner">
  <div class="container-fluid">
    <div class="navbar-header">
      <h1 class="brand"> <a  href="#">Quaerere</a> </h1>
    </div>
    <ul id="menu-main" class="nav navbar-nav navbar-right">
    <% if current_user && current_user.admin? %>
    <li><%= link_to "ADMIN",rails_admin_path %></li>
    <% end %>    <li><a title="team" href="home">Home</a></li>
        <% if current_user!=nil %>
         <li><a title="team" href="leaderboard">Leaderboard</a></li>
         <% end %>
          <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Rules
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a>1. Write all answers in lowercase.</a></li>
          <li><a>2. Don't include space between two words.</a></li>
          <li><a>3. Try to link the question with the image and audio.</a></li>

        </ul>
      </li>

      <% if current_user!=nil %>
      <li><a>Score:<span id="myScore"><%= current_score %></span></a></li>
      <li><a>Level:<span id="myLevel">
      <% if @question!=nil%>
      <%= (current_score==0)?1:current_score/10+1 %><%end%></span></a></li>

      <li><%= image_tag(current_user.image_url, size: '50x50') %>&nbsp;&nbsp;</li>
      <li class="dropdown">

         <a  class="dropdown-toggle" data-toggle="dropdown" href="#"><%= current_user.name %> <span class="caret"></span></a>
       <ul class="dropdown-menu">

          <li><%= link_to "Sign out", 'sign_out', method: :delete , class: "nav-link"%></li>
        </ul>
      </li>
      <% else %>
      <li><a>Login ::</a></li>
      <li ><a href="auth/facebook"> <img border="0" alt="facebook" src="fb.jpg" class="img-circle"width="30" height="30"></a></li>
      <li ><a href="/auth/google_oauth2"> <img border="0" alt="Gmail" src="gmail.jpg" class="img-circle" width="30" height="30"></a></li>
      <% end %>
    </ul>
  </div>
  </div>
</nav>
</div>


<div class="container">
  <% if current_user %>
      <div id="hunt">
        <% if @question!=nil %>
          <div id="myQuestion">         
           <span><%= raw(@question.statement) %></span>           
          </div>

          <span id="myImage">
          <% if @question.imageurl!=nil %>
         <%= image_tag(@question.imageurl)%>
          <%end %>
          </span>

            <span id="myAudio">
            <% if @question.audiourl!=nil %>
            <%= audio_tag(@question.audiourl, autoplay: false, controls: true) %>
            <%end%> 

           </br></br>
            <form id="answerForm">
            <input type="text-area" name="answer" id="myAnswerText" rows="2" cols="10"></br> 
            <input type="submit" value="Submit" name="submit" id="myAnswer" >
            </form>

         
            <br /><br />

            </div>
            
        <% end %>
      
  <div id="myResult">
  </div>

  <% end %>
</div>